<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Guess</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>

    <div class="header">
        <h1>CSdle</h1>
        <p>Boa sorte :)</p>
    </div>

    <div class="guess-input">

        <input list="gameSuggestions" id="guessInput" placeholder="Digite uma arma para começar...">
        <button onclick="makeGuess()">Adivinhar</button>


        <datalist id="gameSuggestions">
            <% weapons.forEach(function(weapon) { %>
                <option value="<%= weapon.Name %>"></option>
            <% }); %>
        </datalist>
    </div>

    <div class="hearts">
        <span class="heart">❤️</span>
        <span class="heart">❤️</span>
        <span class="heart">❤️</span>
        <span class="heart">❤️</span>
        <span class="heart">❤️</span>
    </div>

    <div></div>

    <div class="categories">
        <div class="category-wrapper">
            <div class="category-label">Nome</div>
            <div class="category" id="categoryName"></div>
        </div>
        <div class="category-wrapper">
            <div class="category-label">Time</div>
            <div class="category" id="categoryTeam"></div>
        </div>
        <div class="category-wrapper">
            <div class="category-label">Custo</div>
            <div class="category" id="categoryCost">
                <div id="costValue"></div>
            </div>
        </div>
        <div class="category-wrapper">
            <div class="category-label">Dano</div>
            <div class="category" id="categoryDamage">
                <div id="damageValue"></div>
            </div>
        </div>
        <div class="category-wrapper">
            <div class="category-label">Clip</div>
            <div class="category" id="categoryClip">
                <div id="clipValue"></div>
            </div>
        </div>
    </div>

    <div id="gameOver" class="game-over">
        <h2>Game Over</h2>
        <p>Infelizmente, você perdeu. Tente novamente!</p>
    </div>

    <div id="victory" class="victory">
        <h2>Você Venceu!</h2>
        <p>Parabéns! Você adivinhou corretamente.</p>
        <button onclick="restartGame()">Jogar Novamente</button>
    </div>

    <script src="/scripts/index.js"></script> 

</body>

</html>
