body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.guess-input {
    margin: 20px auto;
    text-align: center;
}

input[list] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

input[list]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.guess-input button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.guess-input button:hover {
    background-color: #2980b9;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-label {
    font-size: 1em;
    color: white;
    margin-bottom: 5px;
}

.category {
    position: relative;
    padding: 20px;
    background-color: #f39c12;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    font-size: 1.2em;
}

.category.correct {
    background-color: #2ecc71;
}

.category.incorrect {
    background-color: #e74c3c;
}

.category.semicorrect {
    background-color: #d1ce1f;
}

.hearts {
    margin-top: 20px;
}

.heart {
    color: red;
    font-size: 1.5em;
    margin-right: 5px;
}

.arrow {
    position: absolute;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 0.85em;
    color: white;
    visibility: hidden;
}

.arrow.up {
    top: 0px; /* Ajuste conforme necessário */
    left: 0;
    text-align: center;
}

.arrow.down {
    bottom: 0px; /* Ajuste conforme necessário */
    left: 0;
    text-align: center;
}

#categoryCost, #categoryDamage, #categoryClip {
    position: relative;
}

#costValue, #damageValue, #clipValue {
    font-size: 1.2em;
    margin: 0;
}

.game-over {
    visibility: hidden;
    position: fixed; /* Fixa a posição em relação à viewport */
    top: 0; /* Começa no topo da viewport */
    left: 0; /* Começa na esquerda da viewport */
    width: 100vw; /* Largura da viewport */
    height: 100vh; /* Altura da viewport */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white;
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    z-index: 1000; /* Valor alto para garantir que fique acima dos outros elementos */
    pointer-events: auto; /* Garante que a div capture eventos de clique */
    overflow: hidden; /* Garante que o conteúdo não saia da tela */
}

.game-over h2, .victory h2 {
    margin: 0;
    font-size: 2.5em; /* Tamanho maior para destaque */
}

.game-over p, .victory p {
    font-size: 1.5em; /* Tamanho maior para destaque */
}

.game-over button, .victory button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px; /* Aumenta a distância do texto acima */
}

.game-over button:hover, .victory button:hover {
    background-color: #2980b9;
}

.victory {
    visibility: hidden;
    position: fixed; /* Fixa a posição em relação à viewport */
    top: 0; /* Começa no topo da viewport */
    left: 0; /* Começa na esquerda da viewport */
    width: 100vw; /* Largura da viewport */
    height: 100vh; /* Altura da viewport */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    color: white;
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha o conteúdo verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    z-index: 1000; /* Valor alto para garantir que fique acima dos outros elementos */
    pointer-events: auto; /* Garante que a div capture eventos de clique */
    overflow: hidden; /* Garante que o conteúdo não saia da tela */
}